<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>21918629567-trdka0ijp195vn92i2fb727vqsv91dd8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.21918629567-trdka0ijp195vn92i2fb727vqsv91dd8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>21918629567-t88bebbcgdqmpk3k7alg492lb180qbnl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD6dsTu7SHzCiTgUUAO5akXGAgDutpwq1c</string>
	<key>GCM_SENDER_ID</key>
	<string>21918629567</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.realchat</string>
	<key>PROJECT_ID</key>
	<string>react-chat-firebase-6c6a0</string>
	<key>STORAGE_BUCKET</key>
	<string>react-chat-firebase-6c6a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:21918629567:ios:56bd5f9629d4593beb100a</string>
	<key>DATABASE_URL</key>
	<string>https://react-chat-firebase-6c6a0.firebaseio.com</string>
</dict>
</plist>